//navbar
$navbar-background: rgba(7, 11, 20, 1);
$navbar-color: rgba(255, 255, 255, 1);

// button

//toolbar
$toolbar-background: rgba(7, 11, 20, 1);
$toolbar-color:rgba(255, 255, 255, 1);

//Sidebar
$sidebar-conta-color: rgba(255, 255, 255, 1);
$sidebar-conta-background:rgb(90, 93, 89) ;

$sidebar-color: rgba(255, 255, 255, 1);
$sidebar-background: rgba(7, 11, 20, 1);
$sidebar-link-color: rgba(255, 255, 255, 1);
$sidebar-link-background:rgb(90, 93, 89) ;


//Card
$mega-card-backgound:#d1d1d1;

//table
$table-header-background: #070b14;
$table-header-color: #fff;
$table-par-background:#fff;
$table-par-color: #000;
$table-impar-background:#d1d1d1;
$table-impar-color: #000;
